.page {
  --background: #f2f2f2;
  --foreground: #383838;
  --shadow: 45, 35, 66;
  --button-background: #fcfcfc;
  --button-foreground: #36395A;
  --button-shadow: 45, 35, 66;
  --button-shadow-inner: #D6D6E7;
  --main-font: monospace;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  gap: 64px;
  font-family: var(--main-font);

 
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #383838;
    --foreground: #f2f2f2;
    --button-background: #36395a;
    --button-foreground: #fcfcfc;
    --button-shadow-inner: #484852;

  }
}

.header {
  padding: 10px;
  height: max-content;
  box-shadow: 0px 8px 12px rgba(var(--shadow), 0.5);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin: 16px;
  align-items: center;
  appearance: none;
  background-color: var(--button-background);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(var(--button-shadow), 0.4) 0 2px 4px,rgba(var(--button-shadow), 0.3) 0 7px 13px -3px,var(--button-shadow-inner) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--button-foreground);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--main-font);
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 50%;
}

.button:focus {
  box-shadow: var(--button-shadow-inner)  0 0 0 1.5px inset, rgba(var(--button-shadow), 0.4) 0 2px 4px, rgba(var(--button-shadow), 0.3) 0 7px 13px -3px, var(--button-shadow-inner)  0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(var(--button-shadow), 0.4) 0 4px 8px, rgba(var(--button-shadow), 0.3) 0 7px 13px -3px, var(--button-shadow-inner)  0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: var(--button-shadow-inner)  0 3px 7px inset;
  transform: translateY(2px);
}

@media screen and (max-width: 500px) {
  .button {
    width: 80%;
  }
}

.footer {
  text-align: center;
  color: var(--foreground);
}